<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Testing">
    <classes>
      <class name="TestNG.AssertExample2"/>
      <class name="TestNG.test1"/>
      <class name="TestNG.Differentsites"/>
      <class name="TestNG.Demo"/>
      <class name="TestNG.NewTest"/>
      <class name="TestNG.TestDependencies"/>
      <class name="TestNG.Seleniumtesting"/>
      <class name="TestNG.DriveaCar"/>
      <class name="TestNG.AssertExample"/>
    </classes>
  </test> <!-- Testing -->
</suite> <!-- Suite -->
